__pycache__/
venv/
env/
normalizator/__pycache__/
.idea/
#normalizator/util/stanza_resources/
tests/results_all
tests/results_selected
tests/resultsAll.txt
tests/resultsSelected.txt
tests/diff_check_1
tests/diff_check_2
tests/diff_check_before
tests/diff_check_after
tests/test_script.py
/tests/test_file.py
normalizator/test.py
.vscode/
build
normalizator.egg-info